<%- include('header') %>
<main>
  <div class="grid-row">
    <% mydata.forEach((toy)=> { %>
    <div class="grid-item">
      <%= toy.title.slice(0, 30) %>
      <div class="b">
        <a href="<%= toy.url %>" target="_blank" class="buy-link">
          <button class="buy-button">BUY</button>
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</main>
<%- include('footer') %>
